@use "sass:map"; // https://sass-lang.com/documentation/modules/map
@use "Abstracts/sizes" as s;
@use "Abstracts/mixins" as m;

.form-row {
    > label,
    > .label {
        display: flex;

        flex-grow: 1;

        padding: 0.75ex 0;
        gap: 1ch;

        > span:first-of-type {
            line-height: map.get(s.$c-input, "line-height");

            @include m.mq("landscape") {
                flex-grow: 1;

                border: map.get(s.$c-input, "border") solid transparent;

                text-align: right;
            }
        }
    }
}
